#askgpt {
  background-color: #f0f5ff;
}

.ask-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.ask-container h2 {
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2857b3;
  margin-bottom: 2rem;
}

.ask-container input {
  width: 50%;
  padding: 15.5px 25.5px 11.5px 28px;
  border-radius: 5px;
  background-color: #ffff;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
}


.ask-list {
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.gpt-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

.gpt-container a {
  width: 30%;
  border-radius: 5px;
  background-color: #f5f1ee;
  padding: 4rem 5rem;
  text-decoration: none;
}

.gpt-container h6 {
  font-size: 1.8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 3rem;
  color: #000;
}