.application-header-box {
  margin: 8rem 10rem;
}

.application-header {
  border-bottom: 1px solid hwb(0 3% 97% / 0.27);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.application-header a {
  font-size: 2rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a77e5;
}

.msg-partner {
  width: 50%;
}

.msg-partner h6 {
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bec1cb;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
}


.msg-message {
  border-radius: 2.5px;
  background-color: #fafafa;
  padding: 3rem 5rem;
  width: 45%;
}

.msg-message h5 {
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #171717;
  margin-bottom: 2rem;
}

.msg-message p {
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #171717;
}

.msg-profile {
  width: 40%;
}